body {
  font-family: "Fuzzy Bubbles", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #042b3e;
  color: aliceblue;
}

.container {
  height: auto;
  width: 150vh;
  margin: 0 auto;
  margin-bottom: 200px;
  border-radius: 10px;
}

h1 {
  padding: 30px;
  margin-top: -25px;
  text-align: center;
  font-size: 50px;
}

input {
  width: 250px;
  text-align: center;
  margin-left: 300px;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 25px;
}

input:hover {
  background-color: black;
  color: white;
}

button {
  height: 54px;
  width: 100px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.add {
  margin-left: 20px;
  position: absolute;
  top: 0;
}

.add:hover {
  background-color: rgb(31, 185, 26);
  color: white;
}

.remove {

  position: absolute;
  top: 0;
  right: 260px;
}

.remove:hover {
  background-color: rgb(206, 42, 42);
  color: white;
}

.tasks {
  position: relative;
  width: 500px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.task-item{
  display: flex;
  justify-content: space-between;
}

.task-item > button{
  height: 20px;
  width: 50px;
  margin-top: 25px;
  outline: none;
  border: none;
}

.task-item > button:hover{
  color: red;
}

li {
  margin-top: 20px;
  margin-bottom: 20px;
}

li:hover{
  cursor: pointer;
}

ul {
  height: auto;
}

.tools {
  position: relative;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 650px;
  margin-bottom: 10px;
}

.note {
  font-weight: bold;
  color: red;
}

.note2 {
  font-weight: bold;
  color: green;
}

/*Phone size style*/
@media (max-width: 500px) {
  input{
    margin-left: 150px;
    width: 200px;
  }
  button{
    width: 80px;
    font-size: 15px;
  }
  p{
    margin-left: -10px;
  }
  .remove{
    left: 500px;
    width: 100px;
  }
  .remove-task{
    margin-right: 50px;
  }
}